
<%- include('head'); %>


<body translate="no" >
  <div class="login-box">
  <form id="form1">
    <h2><a><span></span><span></span><span></span><span></span> Please Fill Out The Form</a></h2>
    <div class="user-box">
      <input type="text" name="name" required="">
      <label>Name</label>
    </div>
    <div class="user-box">
      <input type="text" name="subheading" required="">
      <label>Sub Heading</label>
    </div>
    <div class="user-box">
      <input type="text" name="about" required="">
      <label>About</label>
    </div>
    <div class="user-box">
      <input type="number" name="phone" required="">
      <label>Phone</label>
    </div>
    <div class="user-box">
      <input type="text" name="location1" required="">
      <label>Location</label>
    </div>
    <div class="user-box">
      <input type="text" name="email" required="">
      <label>Email</label>
    </div>
    
    <div class="user-box">
      <input type="password" name="pass" required="">
      <label>Password</label>
    </div>
    <button type="submit" style="background-color: #0a0f18; border: none;">
    <a >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Next
    </a>
  </button>
  </form>
</div>
  
<%- include('footerjs'); %>
  
